# .env file
NODE_ENV=development
PORT=8000

# Set your database/API connection information here
# MONGOOSE_URL=mongodb+srv://kirani:kirani@kirani.yne1lr1.mongodb.net/?retryWrites=true&w=majority&appName=kirani
MONGOOSE_URL=mongodb://itskysolutions1:itskysolutions1@cluster0.1zvpe.mongodb.net/?retryWrites=true&w=majority&appName=itskysolutions1

# MONGOOSE_URL_PLAY=mongodb://localhost:27017/falik

# Set mailserver and account details
AUTH_EMAIL=malikmuhammad.dev@gmail.com
AUTH_PASSWORD=bxgytlhhcbiyqbss
EMAIL_SERVICE=gmail

# Set JWT 
JWT_PRIVATE_KEY=asdfkjasbdfjliashbdfiuabsfiuecd

# SMSBULK
BULKSMS_API_TOKEN=r5AO4rj1QPzfcqjbvFS709sT3p7oejgcuIsIXlb5Ymt86SOLQDiwk09yxG96

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

